<!DOCTYPE html>
<html>
  <head>
    <title>Moviemon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<style>

area:focus{
  border: none;
  outline:none;
  outline-style: none;
  -moz-outline-style:none; 
}

img{
  pointer-events : none;
}

img.game{
  pointer-events : auto;
}

img.bg{
  pointer-events : none;
  width : 100%;
  height : 100%;
  filter : brightness( <%= $selected["power"] == 1 ? "200%" : "70%" %> );
  position : absolute;
  display : <%= $selected["mode"] == "select" ? "block" : "select" %>;
}

img.map{
  width : 100%;
  height : 100%;
  position : absolute;
  display : <%= $selected["mode"] != "game" ? "none" : "block" %>;
}

img.player{
  width : 20px;
  height : auto;
  position : absolute;
  top : 10;
  left : 10;
  display : <%= $player["hp"] <= 0 || $selected["mode"] != "game" ? "none" : "block" %>;
}

.light{
  height : 15px;
  width : 15px;
  background : <%= $selected["light"] %>;
  border-radius : 50%;
  display : block;
  position : absolute;
  top : 115px;
  left : 785px;
  pointer-events : none;
}

.display{
  border-radius: 8px / 5px;
  display : block;
  position : absolute;
  top : 133px;
  left : 285px;
  width : 411px;
  height : 272px;
}

.dp{
  display : hidden;
}

.hd{
  display : none;
}
p{
}
    </style>
  </head>

  <body>

    <div class = "game">
      <img src="<%= asset_path 'gameboy.jpeg' %>" usemap='#button' class="game" />
      <map name="button" id="button">
        <area target="" alt="" title="" href="<%= yield(:btn_u) %>" coords="123,185,162,223" shape="rect">
        <area target="" alt="" title="" href="<%= yield(:btn_d) %>" coords="119,262,161,305" shape="rect">
        <area target="" alt="" title="" href="<%= yield(:btn_l) %>" coords="81,226,121,262" shape="rect">
        <area target="" alt="" title="" href="<%= yield(:btn_r) %>" coords="200,226,162,262" shape="rect">
        <area target="" alt="" title="" href="<%= yield(:btn_a) %>" coords="867,226,31" shape="circle">
        <area target="" alt="" title="" href="<%= yield(:btn_b) %>" coords="782,256,30" shape="circle">
        <area target="" alt="" title="" href="<%= yield(:btn_start) %>" coords="111,349,125,338,211,361,218,378,209,387,192,388,115,367" shape="poly">
        <area target="" alt="" title="" href="<%= yield(:btn_select) %>" coords="111,401,126,393,213,413,220,427,213,438,199,441,114,420" shape="poly">
        <area target="" alt="" title="" href="<%= yield(:btn_boot) %>" coords="774,102,869,127" shape="rect">
        <span class ="light"></span>
      </map>
      
      <div class = "display">
        <img src="<%= asset_path "green_bg.jpeg" %>" class = "bg" />
        <img src ="<%= asset_path 'map.png' %>" class = "map" />
        <img src="<%= asset_path 'player.png' %>" class = "player" style="position : relative; top : <%= $player['pos_y']  %>%; left : <%= $player['pos_x'] %>%;" />
        <%= yield %>
      </div>

    </div>
    <script>
      let buttons = document.querySelector("#button");
      document.addEventListener("keydown", (e) => {
        console.log(e.key)
        switch (e.key) {
          case "ArrowUp":
            location.href = buttons.children[0].getAttribute("href");
            break;
          case "ArrowDown":
            location.href = buttons.children[1].getAttribute("href");
            break;
          case "ArrowLeft":
            location.href = buttons.children[2].getAttribute("href");
            break;
          case "ArrowRight":
            location.href = buttons.children[3].getAttribute("href");
            break;
          case "A":
          case "a":
            location.href = buttons.children[4].getAttribute("href");
            break;
          case "B":
          case "b":
            location.href = buttons.children[5].getAttribute("href");
            break;
          case "S":
          case "s":
            location.href = buttons.children[6].getAttribute("href");
            break;
          case "W":
          case "w":
            location.href = buttons.children[7].getAttribute("href");
            break;
          case "Q":
          case "q":
            location.href = buttons.children[8].getAttribute("href");
            break;
          default:
            break;
        }
      });
    </script>
  </body>
</html>
